<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style="text-align: center;">Danh sach nhan vien</h1>
    <?php

        echo '<table border = "1" width = "100%">';



        echo "<TR><TH>Ma NV</TH><TH>Ho ten</TH><TH>Dia chi</TH><TH>IDPB</TH><TH>Xoa</TH></TR>";

        if($staffList !=null){
            for($i =0; $i< sizeof($staffList); $i++){
                echo '<TR>
                    <TH>'.$staffList[$i]->IDNV.'</TH>
                    <TH>'.$staffList[$i]->Hoten.'</TH>
                    <TH>'.$staffList[$i]->Diachi.'</TH>
                    <TH>'.$staffList[$i]->IDPB.'</TH>
                    <th><a href="../Controler/C_Staff.php?IDNV='.$staffList[$i]->IDNV.'">xxxx</a></th>
                    </TR>';

            }
        }
        
        echo '<a href="../View/index.php">home page</a>'

    ?>

</body>
</html>